parameters:
    checkGenericClassInNonGenericObjectType: false
    excludes_analyse:
        - src/Infrastructure/Migrations
    ignoreErrors:
        - '#Symfony\\Component\\Validator\\ConstraintViolationListInterface#'
