.ThingListCard {
    overflow: hidden;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.02);
    }

    &__image {
        width: 100%;
        height: 200px;
        object-fit: cover;

        &--loading {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $gray-200;
        }

        &--fallback {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $gray-200;
        }
    }

    &__description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
}

.Search {
    width: 50%;
    margin: 0 auto map_get($spacers, 5);

    @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: map_get($spacers, 4);
    }
}

.Header {
    background-color: $gray-bg;

    &__logo {
        display: block;
        margin: 0 auto;
        height: 175px;
        width: 175px;
    }
}

.Footer {
    background-color: $gray-bg;

    img {
        display: block;
        height: 24px;
        margin: 0 auto;
    }
}

.Dashbord {
    p {
        margin-bottom: 0;
    }

    h1 {
        margin: 0 0 2.5rem 5rem;
    }

    &__user, &__table, &__headline-row, &__value-row {
        background-color: $gray-bg;
    }

    &__user {
        margin: 0 3rem;
        padding: 0 3rem;

        h6 {
            margin: 0.75rem 0;
        }
    }

    &__table {
        margin: 2rem 0 0 0;
        padding: 0 2rem 1rem;
    }

    &__headline-row {
        margin-top: 2rem;

        h6 {
            padding: 0 0 1rem 0;
            text-align: center;
            display: inline-block;
            vertical-align: bottom;
            line-height: normal;
        }
    }

    &__headline {
        height: 7rem;
        line-height: 7rem;
        text-align: center;
    }

    &__value-row {
        p {
            padding: 0 1rem;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
    }

    &__value {
        background-color: $white;
        margin: 1rem 0;
        height: 7rem;
        line-height: 7rem;
        text-align: center;
    }

    &__value-img {
        background-color: $gray-bg;

        img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
        }
    }
}

.bg-primary {
    background-color: $gray-bg;
}
