#index-page {
    section {
        position: relative;
    }

    form#location-field {
        position: absolute;
        z-index: 500;
        bottom: 68px;
        width: calc(100% - 30px);

        button,
        input {
            box-shadow: 4px 4px 6px grey;
        }
    }

    #map {
        width: 112%;
        position: relative;
        left: -6%;
        margin-bottom: 0px;
    }
}

.ThingListDetail {
    .thing-info {
        img {
            max-width: 100%;
        }
    }

    .col-map {
        .map {
            max-width: 100%;
        }
    }

    .media {
        line-height: 5rem;
        position: relative;
        vertical-align: middle;

        .btn-large {
            right: 0;
            position: absolute;
            font-size: 3rem;
            transition: all 0.25s ease-out;

            &:not([disabled]) {
                &:focus {
                    transform: scale(1.1);
                }
            }
        }

        &:hover {
            .btn-large {
                &:not([disabled]) {
                    transform: scale(1.1);
                }
            }
        }

        &:hover {
            &:hover {
                .btn-large {
                    transform: scale(1.1);
                }
            }
        }

        &.requests {
            line-height: 3rem;
        }
    }

    .media-body {
        font-size: 1.25rem;
    }
}

.Faq {
    .card {
        .card-header {
            cursor: pointer;

            &:hover {
                background-color: $light;
            }
        }
    }
}

.registration-form {
    .form-check {
        > input[type="checkbox"] {
            margin-top: 0.5rem;
        }
    }

    .invalid-feedback {
        display: block;
    }

    small {
        font-size: 1rem;
    }
    label {
        margin-bottom: 0;
    }
}
