body {
    font-size: 14px;
    line-height: 1.5rem;
}

h1, h2 {
    font-size: 1.8rem;
}

.mainarea {
    align-self: center;
}

.searchbar {
    background-color: $gray-bg;
}

footer {
    background-color: $gray-bg;
    color: $primary;
}
