
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.navbar-nav li {
    display: inline-block;
    float: none;

    a {
        text-transform: uppercase;
    }
}

.navbar-light {
    background-color: #ffffff;
    height: 75px;
}

.logo{
    width: 175px;
    height: 175px;
}

