// Colors
$primary: #c1272d;
$danger: #af0000;
$secondary: #005a65;
$success: #008d00;
$warning: #e76800;
$info: #b4cee6;
$light: #e9ecef;
$dark: #343a40;
$body-bg: #ffffff;
$gray-bg: #f9f9f9;

$theme-colors: (
    'primary' : $primary,
    'secondary' : $secondary,
    'danger' : $danger,
    'success' : $success,
    'warning' : $warning,
    'info' : $info,
    'light' : $light,
    'dark' : $dark
);

// Fonts
$font-family-base: 'Roboto', sans-serif;
$font-weight-normal: 300;
$headings-font-weight: 700;

// Navbar
$navbar-light-color: #707070;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: #000000;

// Links
$link-color: $dark;
