//colors

$primary: #c1272d;
$danger: #af0000;
$secondary: #495057;
$success: #008d00;
$warning: #e76800;
$info: #dee2e6;
$light: #e9ecef;
$dark: #343a40;

$body-bg: #ffffff;
$body-color: #000000;
$gray-bg: #f9f9f9;

$theme-colors: (
    'primary' : $primary,
    'secondary' : $secondary,
    'danger' : $danger,
    'success' : $success,
    'warning' : $warning,
    'info' : $info,
    'light' : $light,
    'dark' : $dark
);

//navbar

$navbar-light-color: #707070;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: #000000;

$link-color: $dark;

//navbar navbar-expand-lg navbar-light bg-light
//nav-item
//nav-link
