# This is a basic workflow to help you get started with Actions

name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  psalm:
    name: Psalm
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Psalm
        uses: docker://vimeo/psalm-github-actions

  phpstan:
    name: PHPStan
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: PHPStan
        uses: docker://oskarstark/phpstan-ga
        with:
          args: analyse src/ --level=max
          secrets: "GITHUB_TOKEN"

  php-cs-fixer:
    name: PHP-CS-Fixer
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: PHP-CS-Fixer
        uses: docker://oskarstark/php-cs-fixer-ga
        with:
          args: --diff --dry-run
          secrets: "GITHUB_TOKEN"

  eslint:
    name: eslint
    runs-on: ubuntu-18.04
    steps:
      -   name: Checkout code
          uses: actions/checkout@v2

      -   name: eslint
          uses: stefanoeb/eslint-action@1.0.2
          with:
            files: assets/js
