{% extends 'email/email-base.html.twig' %}
{# @var requester \App\Domain\User\Entity\Requester #}
{% block content %}
    <p>Lieber print4health Nutzer,</p>
    <br />
    <p>
        Bitte nutze folgenden Link um ein neues Passwort zu vergeben:<br />
        <br />
        <a class="reset-password" href="{{ url }}" target="_blank">{{ url }}</a>
    </p>
{% endblock %}
